language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"

# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install pytest pytest-cov codecov

# command to run tests
script:
  - pytest --cov=./kindle_maker

after_success:
  - codecov
